<body>
    <div class="container">
        <div class="contOggetto">
            <div class="oggetto" *ngFor="let item of getCarrello()">
                <div class="contImg">
                    <img src="{{item['foto']}}" alt="" class="img"> 
                </div>
                <div class="contDesc">
                    <div class="contD">
                        <h1>{{item['nome']}}</h1>
                        <p>{{item['descrizione']}}</p>
                        <p>Taglia: {{item['taglia']}}</p>
                        <div class="numero">
                            <h3 id="num" class="bold-text">Quantità: {{item['numero']}}</h3>
                            <button mat-icon-button class="center" id="dest" (click)="removeCart(item)">
                                <mat-icon>exposure_neg_1</mat-icon>
                            </button>
                            <button mat-icon-button class="center" (click)="addCart(item)">
                                <mat-icon>exposure_plus_1</mat-icon>
                            </button>
                        </div>
                        
                    </div>
                    <div class="contPrezzo">
                        <h2 class="bold-text">{{item['prezzo'] * item['numero']}} $</h2>
                    </div>
                </div>
                <div class="contAddDelete">
                    
                </div>
            </div>
        </div>
        <div class="totale">
            <h1 class="bold-text">Totale</h1>
            <h3>Subtotale: {{getTotale()}} $</h3>
            <h3>Spedizione: 0 $</h3>
            <hr>
            <h2 class="bold-text">Totale: {{getTotale()}} $</h2>
            <button mat-raised-button color="primary">Procedi</button>
        </div>
    </div>
    
</body>
